<module>
	<rawname>parking</rawname>
	<name>Parking Lot</name>
	<version>2.0.1</version>
	<type>setup</type>
	<category>Module</category>
	<menuitems>
		<parking>Parking Lot</parking>
	</menuitems>
	<location>release/2.2/parking-2.0.1.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-ParkingLot</info>
	<md5sum>3ef2cb8ca1ee680171a1f8151de2957a</md5sum>
</module>
