<module>
	<rawname>parking</rawname>
	<repo>standard</repo>
	<name>Parking Lot</name>
	<version>2.9.0.4</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<category>Apps</category>
	<description>Manages parking lot extensions and other options.
	Parking is a way of putting calls "on hold", and then picking them up from any extension.</description>
	<menuitems>
		<parking>Parking Lot</parking>
	</menuitems>
	<changelog>
		*2.9.0.4* #4965, #4972
		*2.9.0.3* #4914
		*2.9.0.2* #4224
		*2.9.0.1* #4740
		*2.9.0.0* #4655
	</changelog>
	<depends>
		<version>2.5.0alpha1</version>
		<module>recordings ge 3.3.8</module>
	</depends>
	<location>release/2.9/parking-2.9.0.4.tgz</location>
	<md5sum>85d7c9e5f4556e9387ce01bc9ded059c</md5sum>
</module>
