<module>
	<rawname>parking</rawname>
	<name>Parking Lot</name>
	<version>2.0.2</version>
	<type>setup</type>
	<category>Internal Options &amp; Configuration</category>
	<description>Manages parking lot extensions and other options.
	
	Parking is a way of putting calls "on hold", and then picking them up from any extension.</description>
	<menuitems>
		<parking>Parking Lot</parking>
	</menuitems>
	<changelog>
		*2.0.2* Add he_IL translation
	</changelog>
	<location>release/2.2/parking-2.0.2.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-ParkingLot</info>
	<md5sum>bfc593350434e47b8f291214fc2d137c</md5sum>
</module>
